IndentWidth: 2
Language: Cpp
Standard: c++03
MaxEmptyLinesToKeep: 1
ReflowComments: false
AlignEscapedNewlines: DontAlign
AllowShortFunctionsOnASingleLine: None
IndentPPDirectives: AfterHash
ColumnLimit: 90
